{% load static %}
    <!-- Футер -->
    <footer id="mxd-footer" class="mxd-footer">
        <!-- Полноширинный текст -->
        <div class="mxd-footer__text-wrap">
            <div class="fullwidth-text__tl-trigger"></div>
            <div class="mxd-footer__fullwidth-text personal anim-top-to-bottom">
                <h1 class="footer-title">AUTOLIGA</h1>
            </div>
        </div>

        <!-- Информационные колонки -->
        <div class="mxd-footer__footer-blocks">
            <!-- Колонка 1: Навигация -->
            <div class="footer-blocks__column ">
                <div class="footer-blocks__card fullheight-card">
                    <div class="footer-blocks__nav">
                        <ul class="footer-nav">
                            <li class="footer-nav__item">
                                <a href="{% url 'home' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Bosh sahifa{% elif LANGUAGE_CODE == 'ru' %}Главная{% else %}Home{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="{% url 'dealers' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Dilerlar{% elif LANGUAGE_CODE == 'ru' %}Дилеры{% else %}Dealers{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="{% url 'products' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Moshinalar{% elif LANGUAGE_CODE == 'ru' %}Машины{% else %}Cars{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="{% url 'contact' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Aloqa{% elif LANGUAGE_CODE == 'ru' %}Контакты{% else %}Contact{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="{% url 'news' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Yangiliklar{% elif LANGUAGE_CODE == 'ru' %}Новости{% else %}News{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Dilerlar{% elif LANGUAGE_CODE == 'ru' %}Дилеры{% else %}Dealers{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Jamoa{% elif LANGUAGE_CODE == 'ru' %}Команда{% else %}Team{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Test drayv{% elif LANGUAGE_CODE == 'ru' %}Тест-драйв{% else %}Test drive{% endif %}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-blocks__links">
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Maxfiylik siyosati{% elif LANGUAGE_CODE == 'ru' %}Политика конфиденциальности{% else %}Privacy policy{% endif %}</span>
                        </a>
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Foydalanish shartlari{% elif LANGUAGE_CODE == 'ru' %}Условия использования{% else %}Terms of use{% endif %}</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Колонка 2: Контакты и карта -->
            <div class="footer-blocks__column ">
                <div class="footer-blocks__card">
                    <p class="mxd-point-subtitle">
                        <i class="ph-fill ph-envelope"></i>
                        <a href="mailto:info@fawtrucks.uz?subject=FAW%20TRUCKS%20inquiry">
                            <span style="font-weight: bold;">
                                {% if LANGUAGE_CODE == 'uz' %}eMail:{% elif LANGUAGE_CODE == 'ru' %}Эл. почта:{% else %}Email:{% endif %}
                            </span> example@autoliga.uz
                        </a>
                    </p>
                    <p class="mxd-point-subtitle">
                        <i class="ph-fill ph-phone"></i>
                        <a href="tel:+998712345678">
                            <span style="font-weight: bold;">
                                {% if LANGUAGE_CODE == 'uz' %}Telefon:{% elif LANGUAGE_CODE == 'ru' %}Телефон:{% else %}Phone:{% endif %}
                            </span> +998 78 555 73 77
                        </a>
                    </p>
                    <p class="mxd-point-subtitle">
                        <i class="ph-fill ph-map-pin"></i>
                        <a href="https://yandex.uz/maps/-/CHxF6XPZ" target="_blank" rel="noopener noreferrer">
                            <span style="font-weight: bold;">
                                {% if LANGUAGE_CODE == 'uz' %}Manzil:{% elif LANGUAGE_CODE == 'ru' %}Адрес:{% else %}Address:{% endif %}
                            </span> 
                            {% if LANGUAGE_CODE == 'uz' %}Toshkent sh., Farog‘at 2-chi avtomashina, 2
                            {% elif LANGUAGE_CODE == 'ru' %}г. Ташкент, 2-й проезд Фарогат, дом 2
                            {% else %}Tashkent city, Farog‘at 2nd driveway, building 2{% endif %}
                        </a>
                    </p>
                </div>

                <div class="footer-blocks__card card-maps"
                    style="padding:0; overflow:hidden; min-height:250px; height:300px; border-radius:15px; border: 1px solid #ddd;">
                    <div style="position:relative; overflow:hidden; width:100%; height:100%;">

                        <a href="https://yandex.uz/maps/?pt=69.287543,41.375042&z=17&l=map" target="_blank" rel="noopener noreferrer"
                            style="color:#fff; font-size:12px; position:absolute; top:10px; left:10px; z-index:10; background:rgba(255, 102, 0, 0.85); padding:6px 12px; border-radius:8px; text-decoration:none; font-family:sans-serif; font-weight:bold; box-shadow: 0 2px 5px rgba(0,0,0,0.2);">
                            📍 Yunusobod 
                        </a>

                        <iframe
                            src="https://yandex.uz/map-widget/v1/?ll=69.287543%2C41.375042&z=17&pt=69.287543%2C41.375042&mode=whatshere"
                            width="100%" height="100%" frameborder="0" allowfullscreen="true" style="display:block; border:0;"
                            loading="lazy">
                        </iframe>

                    </div>
                </div>



            </div>

            <!-- Колонка 3: Соцсети -->
            <div class="footer-blocks__column ">
                <div class="footer-blocks__card fullheight-card">
                    <div class="footer-blocks__block">
                        <div class="footer-blocks__title">
                            <p class="footer-blocks__title-l">
                                {% if LANGUAGE_CODE == 'uz' %}Ijtimoiy tarmoqlar{% elif LANGUAGE_CODE == 'ru' %}Социальные сети{% else %}Social networks{% endif %}
                            </p>
                        </div>

                        <div class="footer-blocks__socials">
                            <ul class="footer-socials">
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/facebook.png' %}" alt="Facebook" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://www.facebook.com/" class="footer-socials__link" target="_blank" rel="noopener noreferrer">Facebook</a>
                                </li>
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/instagram.png' %}" alt="Instagram" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://www.instagram.com/" class="footer-socials__link" target="_blank" rel="noopener noreferrer">Instagram</a>
                                </li>
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/telegram.png' %}" alt="Telegram" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://t.me/" class="footer-socials__link" target="_blank" rel="noopener noreferrer">Telegram</a>
                                </li>
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/youtube.png' %}" alt="YouTube" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://www.youtube.com/" class="footer-socials__link" target="_blank" rel="noopener noreferrer">YouTube</a>
                                </li>
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/linkedin.png' %}" alt="LinkedIn" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://www.linkedin.com/company/" class="footer-socials__link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-blocks__links">
                        <p class="t-xsmall t-muted">
                            <a class="no-effect" href="{% url 'home' %}" target="_blank" rel="noopener noreferrer">Autoliga</a>
                            © {% now "Y" %} - 
                            {% if LANGUAGE_CODE == 'uz' %}
                                Barcha huquqlar himoyalangan
                            {% elif LANGUAGE_CODE == 'ru' %}
                                Все права защищены
                            {% else %}
                                All rights reserved
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>